@import "http://dl.dropbox.com/u/147506270/Anime.css";
@import url(http://mal-fellow-writer.appspot.com/anime/jsnoob/?covers=http://dl.dropbox.com/u/49469857/MAL/premade/formats/covers/more) !important;
@import "https://dl.dropboxusercontent.com/u/147506270/nimeimei.css";
@import "https://dl.dropboxusercontent.com/u/147506270/Js%20MAL%20Xtra.css";
@import "http://dl.dropbox.com/u/78340470/CSSforFoxgirls.css";

/*DVD COVER GLITCH FIX (Chrome/Safari/Firefox/Opera only)*/
.hide:hover:after {
background: transparent;
content: " ";
height: 75px;
left: 0;
position: absolute;
top: 0;
width: 210px;
z-index: 20;
}
